@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649857011362') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e88b";
}

.icon-ic_team:before {
  content: "\e613";
}

.icon-ic_addto:before {
  content: "\e614";
}

.icon-ic_qrcode:before {
  content: "\e615";
}

.icon-ic_chat:before {
  content: "\e616";
}

